<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingzhi.android.biz.today">

    <application>

        <activity
            android:name=".test.TestActivity"
            android:label="@string/biz_today_label_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".details.TodayDetailsActivity"
            android:label="@string/biz_today_label_today_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".banner.activity.BannerListActivity"
            android:label="@string/biz_today_label_banner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:label="@string/biz_today_label_login"
            android:screenOrientation="portrait" />

    </application>

</manifest>