<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingzhi.android.biz.mine">

    <application>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/biz_mine_label_settings"
            android:screenOrientation="portrait" />

    </application>

</manifest>